@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
* {
  font-family: "Outfit";
}
body {
  background-color: #d5e1ef;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  text-align: center;
  width: 300px;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.qrCode {
  border-radius: 1rem;
  width: 100%;
}

h1 {
  font-size: 26px;
}

p {
  font-size: 15px;
  color: gray;
  text-align: center;
  margin: 0 32px;
  margin-bottom: 30px;
}
